<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>NotLoginFilter</filter-name>
        <filter-class>com.java.NotLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NotLoginFilter</filter-name>
        <url-pattern>/(L|R)*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener, HttpSessionListener</description>
        <listener-class>com.java.InitListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>GenerateDumyCookies</servlet-name>
        <servlet-class>com.java.GenerateDumyCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.java.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCookiesEnabled</servlet-name>
        <servlet-class>com.java.CheckCookiesEnabled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlreadyLogin</servlet-name>
        <servlet-class>com.java.AlreadyLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateDumyCookies</servlet-name>
        <url-pattern>/GenerateDumyCookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCookiesEnabled</servlet-name>
        <url-pattern>/CheckCookiesEnabled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlreadyLogin</servlet-name>
        <url-pattern>/AlreadyLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
